<div class="faq">
    <h2>Preguntas Frecuentes</h2>
    <div class="acordeon">
      <div class="item-acordeon" (click)="togglePregunta(1)">
        <h3>¿Pregunta 1?</h3>
        <div *ngIf="preguntaAbierta === 1">
          <p>Respuesta a la Pregunta 1.</p>
        </div>
      </div>
      <div class="item-acordeon" (click)="togglePregunta(2)">
        <h3>¿Pregunta 2?</h3>
        <div *ngIf="preguntaAbierta === 2">
          <p>Respuesta a la Pregunta 2.</p>
        </div>
      </div>
      <!-- Agrega más preguntas y respuestas según sea necesario -->
    </div>
  </div>
  