.faq {
    padding: 20px;
  }
  
  .faq h2 {
    font-size: 24px;
  }
  
  .acordeon {
    margin: 20px 0;
  }
  
  .item-acordeon {
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
  }
  
  .item-acordeon:hover {
    background-color: #f9f9f9;
  }
  
  .item-acordeon h3 {
    margin: 0;
    font-size: 18px;
  }
  