<footer class="bg-light  py-5">
  <div class="container">
    <div class="row">
      <!-- Imagen -->
      <div class="col-md-3">
        <img src="../../assets/Astro Solutions LOGO BLACK.png" alt="Logo" class="img-fluid" />
      </div>
      <!-- Sobre Nosotros -->
      <div class="col-md-4">
        <h5>Sobre Nosotros</h5>
        <p>Descubre más sobre nuestra empresa y nuestra misión.</p>
        <a href="/inicio#acerca-de">Leer más</a>
      </div>
      <!-- Contacto -->
      <div class="col-md-4">
        <h5>Contacto</h5>
        <p>¿Tienes alguna pregunta o comentario? ¡Contáctanos!</p>
        <a href="/inicio#contacto">Contáctanos</a>
      </div>
      <!-- Derechos de Autor -->
    </div>
    <div class="row">
      <div class=" center">
        <p class="small">© 2023 Todos los derechos reservados</p>
      </div>
    </div>
  </div>
</footer>
