<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div id="imageCarousel" class="carousel carousel-dark slide" data-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Imagen 1"></button>
                <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="1" aria-label="Imagen 2"></button>
                <!-- Agrega más botones de indicadores según sea necesario -->
            </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/Screenshot 2023-11-01 122559.png" class="d-block w-100" alt="Imagen 1">
            </div>
            <div class="carousel-item">
              <img src="../../assets/Screenshot 2023-11-01 122647.png" class="d-block w-100" alt="Imagen 2">
            </div>
            
            <!-- Agrega más imágenes del carrusel según sea necesario -->
          </div>
          <button  class="carousel-control-prev" data-bs-target="#imageCarousel" type="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button  class="carousel-control-next" data-bs-target="#imageCarousel" type="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>
      </div>
      <div class="col-md-6">
        <h2>Registro de Facturas</h2>
        <!--agrego descripcion del sistema de registro de facturas que usa angular, spring boot y postgres para guardar las facturas en bases de datos-->
        <p>
            Sistema de registro de facturas que usa Angular, Spring Boot y Postgres para guardar las facturas en bases de datos.
        </p>
      </div>
    </div>
  </div>
  