<div class="servicios">
<h2>Nuestros Servicios</h2>
  <div class="servicio-item">
      <img src="../../../assets/desarrollo.png" alt="Desarrollo de aplicaciones personalisadas">
      <h3>Desarrollo de aplicaciones personalisadas</h3>
  </div>
  <div class="servicio-item">
      <img src="../../../assets/mantenimiento.jpg" alt="Mantenimiento de sistemas informaticos">
      <h3>Mantenimiento de sistemas informaticos</h3>
  </div>
  <div class="servicio-item">
      <img src="../../../assets/asesorias.jpg" alt="Asesorias">
      <h3>Asesorias</h3>
  </div>
  <div class="servicio-item">
      <img src="../../../assets/hosting.jpg" alt="Hosting">
      <h3>Hosting</h3>
  </div>
</div>
